

.chat-header{
    height: 15vh;

    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(216, 103, 103);
}

.chat-header-left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat-header-right-side{

}

.settings{
    width: 60px;
}

.chat-field{
    height: 77vh;

    background-color: rgb(196, 227, 255);
}

.chat-input-field{
    display: flex;
    flex-direction: row;
}

.chat-input-message{
    height: 8vh;
    width: 100%;

    border: none;
    

    /* text-align: right; */

    padding: 0 10px;

    font-size: 1.3rem;

    background-color: rgb(210, 210, 210);
}

.chat-send-btn{
    padding: 10px;
    font-size: 1.3rem;

    border: none;
    background-color: rgb(149, 149, 246);
}

.chat-send-btn:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(123, 123, 243);
}